@model IEnumerable<SoftSchool.Models.Lycees>

@{
    SoftSchool.Models.dres direction = ViewBag.dres;
    ViewBag.Title = @direction.Nom_Ar.Trim();
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    
}

<h2>@ViewBag.Title</h2>

<p>
<a href="/Admin/Lycees/Create/1" class="btn btn-primary start">Ajouter Lycés</a></p>
<table border="1px">
    <tr>
        <th>
            Code
        </th>
        <th>
            Nom
        </th>
        <th>
            Ville
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Villes.Nom_Ar)
        </td>
        <td>
           
            <a href="/Admin/Lycees/Edit/@item.LyceeID" class="btn btn-success fileinput-button">Modifier</a> 
            <a href="/Admin/Lycees/Details/@item.LyceeID" class="btn btn-primary start">Details</a> 
            <a href="/Admin/Lycees/Delete/@item.LyceeID" class="btn btn-danger delete">Supprimer</a>
        </td>
    </tr>
}

</table>
